@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");

:root {
  /* Fonts */
  --heading-font: "Kdam Thmor Pro", sans-serif;
  --para-font: "Playfair Display", serif;

  /* Colors */
  --cream: #fffdd0;
  --dark-green: #013220;
  --white: #ffffff;
  --black: #000000;
}

/* |-| GENERIC STYLING */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--para-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* -------------------------------------- */

header {
  background-color: var(--dark-green);
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px 0;
}

nav {
  background-color: var(--black);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  padding: 15px 25px;
}

nav a:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.activities {
  list-style-type: none;
}

footer {
  background-color: var(--black);
  color: var(--white);
  margin-top: 12rem;
  padding: 15px 25px;
}
