@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&family=Kdam+Thmor+Pro&family=MedievalSharp&display=swap");

/* |-| VARIABLES */

:root {
  /* Fonts */
  --heading-font: "Kdam Thmor Pro", sans-serif;
  --para-font: "Asap Condensed", sans-serif;
  --temple-overlay: MedievalSharp, sans-serif;

  /* Colors */
  --cream: #fffdd0;
  --dark-green: #013220;
  --white: #ffffff;
  --black: #000000;
}

/* ----------------------- */

/* |-| GENERIC STYLING */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--para-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* ----------------------- */

/* |-| HEADER */

header {
  background-color: var(--dark-green);
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px 35px;
}

header h1 {
  font-size: 1.6em;
}

.responsive-menu-icon {
  display: block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--cream);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* ----------------------- */

/* |-| NAVIGATION */

.navigation {
  display: none;
}

.responsive-nav {
  background-color: var(--black);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.responsive-nav a {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  padding: 15px 25px;
}

.responsive-nav a:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: underline;
}

.navigation a.active::before {
  content: "✧ ";
}

.navigation a.active {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
  font-weight: 700;
}

.navigation a.active::after {
  content: " ✧";
}

/* ----------------------- */

/* |-| MAIN AREA */

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  gap: 2.5em;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-label {
  background-color: #0e43e1;
  opacity: 0.75;
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.hero-label p {
  color: #fff;
  font-weight: 700;
  padding: 0.75rem;
  font-family: var(--temple-overlay);
  font-size: 14px;
}

main h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 5px double #000;
}

.activity-list {
  list-style-type: none;
  line-height: 1.5;
}

.activity-card h3,
.info-card h3 {
  background-color: var(--dark-green);
  color: var(--cream);
  text-align: center;
  padding: 1.2rem 0;
  margin: 0 0 20px 0;
}

.activity-card,
.info-card {
  border: 2px solid lightgray;
  box-shadow: 1px 2px 5px var(--dark-green);
}

.info-card div {
  text-align: center;
  margin: 20px 0;
}

/* ----------------------- */

/* |-| GOOGLE MAP */
.google-map {
  display: block;
  width: 400px;
  height: 300px;
  margin: 25px auto;
}

/* ----------------------- */

/* |-| FOOTER */

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 25px;
}
